<h2>Welcome to Quizzy!</h2>

<form action='/signin' method='GET'>
  <button type='submit'>Log in</button>
</form>

<form action='/register' method='GET'>
  <button type='submit'>Register</button>
</form>
