<form action='/user/login' method='POST'>
  <label for='email'>Email:</label>
  <input name='email' type='text' id='email' placeholder='email'/>
  <label for='password'>Password:</label>
  <input name='password' type='password' id='password' placeholder='password'/>
  <button type='submit'>Login</button>
</form>

<form action='/user/register' method='GET'>
  <button type='submit'>Register</button>
</form>