<html>
    <head>
      <title>Quizzy</title>
    </head>
    <body>
    <% if session[:current_user] %>
      <p>Hi, <%= session[:current_user].name %></p>

      <form action='/user/logout' method='GET'>
        <button type='submit'>Log out</button>
      </form>
    <% else %>
      <p>currently not logged in</p>
    <% end %>
      <%= yield %>
    </body>
</html>