<html>
    <head>
      <title>Quizzy</title>
    </head>
    <body>
      <!-- На мястото на този yield ще се появава съдържанието на темплейта,
           който е зададен за показване. Например, `views/users/all.erb`
           ще бъде вмъкнат в този html и резултатът ще бъде пратен на браузъра. -->
      <%= yield %>
    </body>
  </html>