<form action='/quiz/start' method='POST'>
  <% if !categories.blank? %>
      <% for category in categories %>
        <label>
          <input type="checkbox" name=<%= category %>>
          <%= category %><br>
        </label>
      <% end %>
  <% else %>
    <p>There are no questions yet.</p>
  <% end %>
  <button type='submit'>Take quiz</button>
</form>
<form action='/questions/add' method='GET'>
  <button type='submit'>Add questions</button>
</form>