  <% if !questions.blank? %>
    <form action='/quiz/finish' class='questions-form'>
      <% for question in questions %>
        <div class='text'><%= question.text %></div>
          <% for answer in question.answers %>
            <label class='category'>
              <input type="checkbox" name=<%= answer.id %>>
              <%= answer.text %>
            </label>
          <% end %>
          <div class='questions-delimiter'>=========================================</div>
      <% end %><br>

      <button type='submit' class='btn btn-default'> Finish </button>
    </form>

  <% else %>
    <p>Sorry, there are no questions in these categories</p>
  <% end %>